.redDiv {
    background-color: red;
    height: 150px;
  }
  
  
  .route{
font-size: 20px;
color: #FFFFFF;
  }
  

  .route-part {
    font-weight: 400;
  }
  .route-part.last {
    font-weight: 600;
  }
  